div {
  position: absolute;
  right: 0px;
  width: 100%;
  background-color: #fff;
  font-family: arial, sans-serif;

}

#head {
  top: -10px;
  height: 50px;
}

#searchbox {
  border: 1px;
  border-radius: 2px;
  height: 44px;
  width: 600px;
  padding: 0 10px;
  box-shadow: 0 2px 2px 0  rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

#textarea {
  margin: auto;
  width: 55%;
  top: 40%;
}

#search {
  margin: auto;
  border: 1px;
  position: relative;
  width: 600px;
  margin-left: -150px;
}

#voice {
  position: absolute;
  margin: auto;
  width: 28px;
  top: 125px;
  left: 415px;
}


/*form {
  margin-left: 20%;
  width: 50px;
  border: 1px solid yellow;

}

input:hover {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
} */

#footer {
  border-top: 1px solid #e4e4e4;
  bottom: 0px;
  height: 40px;
  background: #f2f2f2;
  position: fixed;
  margin-bottom: 5px;
}

#butts input {
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  padding: 10px 15px;
  margin-top: 10px;
  margin-right: 4px;
  font-family: arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #757575;
  background-color: #e9e9e9;
}

#butts input:hover {
  border: 1px solid #c6c6c6;
  background-color: #f8f8f8;
  color: #222;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

form {
  width: 300px;
  height: 50px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#footer a {
  color: #666;
  font-size: 13px;
  padding: 10px 0 10px 10px;
}

#footer li {
  float:left;
  margin: 0;
  padding: 0;
}

 #footer ul {
  list-style-type: none;

}

#footer li {
  display: inline;
  width: 70px;
  text-align: center;

}

#right li:first-child {
  width: 120px;
}

#cntr a {
  padding: 10px 0 10px 0;
}

#left li:first-child {
  width: 80px;
}

#right li {
  position: static;
  float: right;
}

#head ul {
  list-style-type: none;
}

#head a {
  font-family: arial, sans-serif;
  font-size: 13px;
  color: black;
}

#head li {
  float: right;
  display: inline;
  padding: 10px;
}

#cubes {
  margin-left: 5px;
  line-height: 1px;
}


#cubes div {
  position: relative;
  display: inline-block;
  background-color: #666;
  width: 4px;
  height: 4px;
  right: 10px;
  margin: 1px;
}

#bell {
  background-color: #666;
  border-radius: 50px;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 45px;
  top: 25px;
}

#bell img {
  position: relative;
  top: 2px;
  left: 5px;
}
 #bell:hover {
   background-color: black;
 }

 #prof img {
   height: 20px;
 }

 #search:hover {
   box-shadow: 0 3px 8px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

#left a:first-child {
  margin-left: -50px;
}

#left li:first-child {
  padding-right: 10px;
}
